$color: #159310;

* {
    text-align: center;
    margin: 20px auto;
}

div#root {

    > div {
        background-color: $color;
        width: 100%;

        > div {
            background-color: lighten($color, 20);
            width: 80%;

            > div {
                background-color: lighten($color, 40);
                width: 60%;

                > span {
                    background-color: lighten($color, 55);
                    display: block;
                    margin: 5px 10px 10px 5px;
                    padding: 10px;
                }
            }
        }
    }
}